
/* img, #logo{
    background-color: #fff;
    padding: 1em;
    border-radius: 15px;
    height: 113px;
    width: 400px;
    margin: 1em 0 1em .5em;
 */
 
 #logo{
    border-radius: 15px;
    margin-left: 1rem;
 }
.topbar{
    background-color: #504A4A;
}
button{
    border: none;
    font-family: Comfortaa;
    font-weight: bold;
}
#topbar-covid{
    width: 18%;
    margin-left: 81%;
    background: #FFFFFF;
}

#topbar-illness{
    width: 30%;
    margin-left: 69%;
    background-color: #fff;
}
